# Access Transformer for The Corners: Renewed
public-f net.minecraft.world.level.block.CrossCollisionBlock shapeByIndex
public-f net.minecraft.client.renderer.entity.BoatRenderer boatResources
public net.minecraft.world.level.block.state.BlockBehaviour canSurvive(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelReader;Lnet/minecraft/core/BlockPos;)Z
